/*Tenemos nuestro tipo de letras roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100&display=swap');
@import 'mediaqueries.css';
/*Creamos stylos por defecto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
/*Colocamos nuestra imágen de fondo*/
.hero{
    width: 100vw; 
    max-width: 100%;

}
.navbar .menu-toggle{/*Con esta clase traemos de vuelta a nuestro menu.*/
    transform: translateY(0%);
    z-index: 200; /*trae el menú delante del formulario*/
}

.navbar{
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
    background-color: #130802;/*Cambia el color del header*/
}

.navbar .brand{
    color: #fdf7f7;
    margin-top: 10px;
    background-image: url(logo.png);

}

/*distribuimos horizontalmente el menu*/
.navbar .menu{
    grid-column: 6/9;
    display:flex;
    margin-top: 15px;
}

/*Desaparece los punticos de los items de separación*/
.menu li{
    list-style: none;
}

/*Ingresamos a nuestros enlaces directamente */
.menu li a{
    text-decoration: none;/*Desaparece la línea de por debajo*/
    margin-right: 3em;/*Separación de los menú*/
    font-size: 1.3em;/*Incrementa el tamaño de la letra*/
    color: rgb(255, 245, 245); /*Color de la letra*/
    font-weight: 200;/*resalta el texto*/
    padding: 10px 20px;
}

.menu li a:hover{/*Cuando coloquemos el puntero encima cambia de color.*/
    background-color:  #f8540d;
    transition: all .10s;/*Colocamos un transition de 5 segundos.*/
    color: #000;/*Color de la letra*/
}

/*Con está le dicimos que desaparezca las 3 liniecitas y aparezca*/
.menu-bar{
    display: none;
    color: #fff;/*Color de la líneas*/
}



.login{
  
    width: 390px;
    padding: 20px;
    border-radius: 20px;
    margin: 50px;
    margin-top: 50px;
    background-color: #fa9829;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

input[type=text],[type=e-mail]{
    width: 95%;
    height: 35px;
    font-size: 16px;
    color:black;
    display: block; 

}
textarea{
    width: 95%;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;   
}

.button{
    display: flex;
    justify-content: center;
}

.btn-send{
    width: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 14px 8px rgba(219, 140, 5, 0.78); 
    border-radius: 30px;
}
h2{
    text-align: center;
}


