/*Tenemos nuestro tipo de letras roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100&display=swap');
@import 'mediaqueries.css';
/*Creamos stylos por defecto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
/*Colocamos nuestra imágen de fondo*/
.hero{
    width: 100vw;
    height: 90vh;
    max-width: 100%;

}

.navbar{
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
    background-color: #130802;/*Cambia el color del header*/
}

.navbar .brand{
    color: #fdf7f7;
    margin-top: 10px;
    background-image: url(logo.png);

}

/*distribuimos horizontalmente el menu*/
.navbar .menu{
    grid-column: 6/9;
    display:flex;
    margin-top: 15px;
}

/*Desaparece los punticos de los items de separación*/
.menu li{
    list-style: none;
}

/*Ingresamos a nuestros enlaces directamente */
.menu li a{
    text-decoration: none;/*Desaparece la línea de por debajo*/
    margin-right: 3em;/*Separación de los menú*/
    font-size: 1.3em;/*Incrementa el tamaño de la letra*/
    color: rgb(255, 245, 245); /*Color de la letra*/
    font-weight: 200;/*resalta el texto*/
    padding: 10px 20px;
}

.menu li a:hover{/*Cuando coloquemos el puntero encima cambia de color.*/
    background-color:  #f8540d;
    transition: all .10s;/*Colocamos un transition de 5 segundos.*/
    color: #000;/*Color de la letra*/
}

/*Con está le dicimos que desaparezca las 3 liniecitas y aparezca*/
.menu-bar{
    display: none;
    color: #fff;/*Color de la líneas*/
}
.button-content a{
    display: flex;
    text-decoration: none;
    justify-content: center;

}
.button-content li{
    list-style: none;
}

/*MAIN SECTION*/

.main{
    margin: 40px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70vh;
    text-align: center;
}

.content-info{/*sube o baja h1, h3, button */
    color: rgb(10, 1, 1);  
}
p{
    font-weight: bold;
    font-size: 30px;
}

button{
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 3px 14px 8px rgba(10, 10, 10, 0.78);
    display: block;
}

button:hover{
    box-shadow: none;
}
.btn-toStart{
    background-color: #f8540d;
    padding: 8px 80px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
}


